<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jrl.deint.inventory">

    <application
        android:name=".InventoryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_inventory"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_inventory"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".InventoryActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".DependenciesActivity" />
        <activity android:name=".PreferencesActivity" />
        <activity android:name=".SectionActivity" />
        <activity android:name=".GeneralSettingActivity" />
        <activity android:name=".AccountSettingActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".AddDependencyActivity"></activity>
    </application>

</manifest>