<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jrl.deint.inventoryMVP">

    <application
        android:name="jrl.deint.inventoryMVP.InventoryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_inventory"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_inventory"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="jrl.deint.inventoryMVP.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jrl.deint.inventoryMVP.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name="jrl.deint.inventoryMVP.InventoryActivity" />
        <activity android:name="jrl.deint.inventoryMVP.DashboardActivity" />
        <activity android:name="jrl.deint.inventoryMVP.ProductActivity" />
        <activity android:name="jrl.deint.inventoryMVP.DependenciesActivity" />
        <activity android:name="jrl.deint.inventoryMVP.PreferencesActivity" />
        <activity android:name="jrl.deint.inventoryMVP.SectionActivity" />
        <activity android:name="jrl.deint.inventoryMVP.GeneralSettingActivity" />
        <activity android:name="jrl.deint.inventoryMVP.AccountSettingActivity" />
        <activity android:name="jrl.deint.inventoryMVP.AboutActivity" />
        <activity android:name="jrl.deint.inventoryMVP.AddDependencyActivity"></activity>
    </application>

</manifest>